[submodule "driver/libfixmath"]
	path = driver/libfixmath
	url = https://github.com/systemofapwne/libfixmath.git
[submodule "driver/libfixmath/"]
	url = https://github.com/systemofapwne/libfixmath.git
